* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  background-color: #000;
  font-size: 16px;
  line-height: 1.5;
  color: #FCDDEC;
}
html {
  font-size: 10px;
}
footer {
  font-size: 1.2rem;
  clear: both;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}
input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #333;
  color: #EF5DA8;
}
.ftx-branding {
  text-align: center;
  padding: 8rem 0;
}
.ftx-showcase {
  text-align: center;
}
.ftx-container {
  text-align: center;
}
.ftx-boxes {
  margin: 3rem 0;
}
.ftx-box h2 {
  padding: 1rem 0;
}
.ftx-box p {
  font-size: 1.4rem;
  padding: 0;
}
.ftx-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.ftx-form {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 25%;
}
.ftx-form-radiogroup {
  display: flex;
  justify-content: center;
}
.ftx-form-radio {
  display: flex;
  text-align: left;
  padding: 2rem 3rem;
}
.ftx-form-radiolabel,
.ftx-form-radioinput {
  margin: 0;
  padding: 0 1rem;
}
.ftx-form-input {
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.ftx-form-label {
  margin-bottom: 0.5rem;
}
.ftx-form-buttons {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ftx-form-buttons:has(.ftx-form-btn) {
  display: flex;
  flex-direction: row-reverse;
}
.ftx-form-btn {
  background-color: #FCDDEC;
  color: #000;
  padding: 0.3rem 0.9rem;
  border-radius: 0.8rem;
}
.ftx-form-btn:hover,
.ftx-form-btn:focus {
  cursor: pointer;
  background-color: #F178B6;
}
.ftx-form-cancel {
  background-color: #f5f5f5;
  color: #333;
  padding: 1rem 1.8rem;
  border-radius: 3rem;
  border: 3px solid #FCDDEC;
}
.ftx-form-cancel:hover,
.ftx-form-cancel:focus {
  cursor: pointer;
  color: #f5f5f5;
  background-color: #333;
}
.ftx-form-submit {
  background-color: #F178B6;
  color: #333;
  padding: 1rem 1.8rem;
  border-radius: 3rem;
  border: 3px solid #FCDDEC;
}
.ftx-form-submit:hover,
.ftx-form-submit:focus {
  cursor: pointer;
  color: #f5f5f5;
  background-color: #333;
}
.ftx-form-error {
  color: #f44336;
}
.ftx-header {
  display: flex;
  padding: 1rem;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
}
.ftx-header-img {
  padding: 1rem;
  background-color: #000;
  border: none;
}
.ftx-header-img > img {
  display: block;
  background-color: #000;
  text-align: center;
  text-decoration: none;
  border: 0.2rem solid #000;
  outline: 0.3rem solid #000;
  height: 4rem;
}
.ftx-header-img > img:hover,
.ftx-header-img > img:focus {
  cursor: pointer;
  opacity: 0.9;
}
.ftx-header-menu {
  width: 5%;
}
.ftx-header-btn {
  display: block;
  background-color: #000;
  text-align: center;
  text-decoration: none;
  border: 0.2rem solid #000;
  outline: 0.3rem solid #000;
  font-size: 1.8rem;
  color: #FCDDEC;
  height: 4rem;
}
.ftx-header-btn:hover,
.ftx-header-btn:focus {
  cursor: pointer;
  border-bottom: 0.2rem solid #EF5DA8;
}
.ftx-table {
  padding: 1rem;
}
.ftx-table table {
  width: 100%;
  border-collapse: collapse;
}
.ftx-table-row {
  height: 4rem;
}
.ftx-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.ftx-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  color: #f5f5f5;
  padding: 2rem;
  width: 60%;
  border-radius: 1rem;
  border: 0.2rem solid #fff;
}
.ftx-modal-content h2,
.ftx-modal-content p {
  margin-bottom: 2rem;
}
.ftx-modal-content button {
  padding: 1rem 1.5rem;
}
