// Importation des variables
@import "variables.less";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;;
}

body {
    background-color: @color-black;
    font-size: 16px;
    line-height: 1.5;
    color: @color-secondary;
}

html {
    font-size: 10px;        // Force 10px = 1rem
}

footer {
    font-size: 1.2rem;
    clear: both;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid @color-dark;
    color: @color-primary;
}


// Carousel d'images
.carousel-container {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    z-index: -1;
}

.carousel {
    display: flex;
    animation: scroll 30s linear infinite;
}

.carousel img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


// Style général
.ftx {
    &-branding {
        text-align: center;
        padding: 8rem 0;
    }

    &-showcase {
        text-align: center;
    }

    &-container {
        text-align: center;
        // line-height: 2.5;
    }

    &-boxes {
        margin: 3rem 0;
    }

    &-box {
        h2 {
            padding: 1rem 0;
        }

        p {
            font-size: 1.4rem;
            padding: 0;
        }
    }

    // Formulaire de souscription
    &-form {
        margin: 0 auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 25%;
        
        radiogroup {
            margin-top: 3rem;
            display: flex;
            justify-content: center;
        }

        &-radio {
            display: flex;
            text-align: left;
            padding: 2rem 3rem;
        }

        &-radiolabel,
        &-radioinput {
            margin: 0;
            padding: 0 1rem;
        }

        &-input {
            margin-bottom: 1.5rem;
        }

        &-label {
            margin-bottom: 0.5rem;
        }

        &-buttons {
            margin: 3rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-error {
            color: @color-danger;

        }
    }


}