@import "variables.less";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;;
}

body {
    background-color: @color-black;
    font-size: 16px;
    line-height: 1.5;
    color: @color-secondary;
}

.ftx {
    &-branding {

    }

    &-showcase {

    }

    &-boxes {

    }

    &-box {

    }

    &-form {

        &-formgroup {

        }

        &-input {

        }

        &-label {

        }

        &-btn {

        }
    }


}