// Importation des variables
@import "variables.less";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;;
}

body {
    background-color: @color-black;
    font-size: 16px;
    line-height: 1.5;
    color: @color-secondary;
}

html {
    font-size: 10px;        // Force 10px = 1rem
}

footer {
    font-size: 1.2rem;
    clear: both;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid @color-dark;
    color: @color-primary;
}


// Carousel d'images
.carousel-container {
    position: fixed;
    top: 10rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: @color-black;
    opacity: 0.3;
    z-index: -1;
}

.carousel {
    display: flex;
    animation: scroll 30s linear infinite;
}

.carousel img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


// Style général
.ftx {
    &-branding {
        text-align: center;
        padding: 8rem 0;
    }

    &-showcase {
        text-align: center;
    }

    &-container {
        text-align: center;
    }

    &-boxes {
        margin: 3rem 0;
    }

    &-box {
        h2 {
            padding: 1rem 0;
        }

        p {
            font-size: 1.4rem;
            padding: 0;
        }
    }

    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    // Formulaire de souscription
    &-form {
        margin: 0 auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        max-width: 25%;
        
        &-radiogroup {
            display: flex;
            justify-content: center;
        }

        &-radio {
            display: flex;
            text-align: left;
            padding: 2rem 3rem;
        }

        &-radiolabel,
        &-radioinput {
            margin: 0;
            padding: 0 1rem;
        }

        &-input {
            width: 100%;
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
        }

        &-label {
            margin-bottom: 0.5rem;
        }

        &-buttons {
            margin: 3rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:has(.ftx-form-btn) {
                display: flex;
                flex-direction: row-reverse;
            }
        }

        &-btn {
            background-color: @color-secondary;
            color: @color-black;
            padding: 0.3rem 0.9rem;
            border-radius: 0.8rem;

            &:hover,
            &:focus {
                cursor: pointer;
                background-color: @color-tertiary;
            }
        }

        &-cancel {
            background-color: @color-light;
            color: @color-dark;
            padding: 1rem 1.8rem;
            border-radius: 3rem;
            border: 3px solid @color-secondary;

            &:hover,
            &:focus {
                cursor: pointer;
                color: @color-light;
                background-color: @color-dark;
            }
        }

        &-submit {
            background-color: @color-tertiary;
            color: @color-dark;
            padding: 1rem 1.8rem;
            border-radius: 3rem;
            border: 3px solid @color-secondary;

            &:hover,
            &:focus {
                cursor: pointer;
                color: @color-light;
                background-color: @color-dark;
            }
        }

        &-error {
            color: @color-danger;
        }
    }


}